bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.CringeLauncher/.idea
/.vs
/CringeLauncher/Bin64
/CringeLauncher/pub
*.user
pub/
/CringeBootstrap/NLog.xsd
/TestPlugin/Properties/launchSettings.json
