<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="zznty" value="https://ng.zznty.ru/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="zznty">
            <package pattern="CringeBootstrap.Abstractions" />
            <package pattern="CringePlugins" />
            <package pattern="CringePlugins.MSBuild" />
            <package pattern="Demystifier" />
            <package pattern="EOSSDK" />
            <package pattern="ImGui.NET.DirectX" />
            <package pattern="Lib.Harmony.Thin" />
            <package pattern="NuGet" />
            <package pattern="protobuf-net" />
            <package pattern="SharedCringe" />
            <package pattern="SharpDX" />
            <package pattern="SixLabors.ImageSharp" />
            <package pattern="SpaceEngineersDedicated.ReferenceAssemblies" />
        </packageSource>
    </packageSourceMapping>
</configuration>
